page-quiz {
    .kolom-opsi{
        padding: 5px;
        img{
            padding: 5px;
            
        }
        
        .kotak{
            padding-top: 10px;
           
        }
    
        
    }
}
