page-editp {
    .header-md::after{
        background: none;
    }
    .avatar img{
        display: block;
        margin: 0 auto;
        width:250px;
    }
    .avatar{
        padding-top: 50px;
        
        .name{
            text-align: center
        }
    }
    .bio{
        padding: 50px;
        margin-top: 20px;
        font-weight: bold;


        .list{
            background-color: #F4F4F4;
            padding: 10px 20px;
            border-radius: 15px;
            
            span{
                float: right;
            }
            
        }
        .item-md{
            background-color: transparent;
            color: #AEAEAE;
        }
        
    }

    .label{
        margin-left: 5px;
    }
    input{
        direction: right;
        color: black;
    }
    .list-md :last-child.item-input{
        border:none;
    }
    .btn-editp{
        box-shadow: none;
        background:linear-gradient(to right,#3968FC,#2F42FE) ;
    }
}
