page-daftar {
    .toolbar-background{
        background-color: transparent;
        box-shadow: none;
    }
    .header-md::after{
        background: none;
    }
    .button-inner{
        color: white;
    }

    .aturan{
        color: #464646;
    }
    
}
